@import "@scss/common.scss";

.ticket-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;

  .ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ticket-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ticket-id {
    font-weight: 600;
    font-size: 20px;
  }

  .ticket-type {
    padding: 2px 15px;
    border-radius: 30px;
    font-size: 13px;
    color: white;
    font-weight: 600;
  }

  .ticket-body {
    margin-top: 10px;
  }

  .ticket-submitted-at {
    font-size: 14px;
  }

  .ticket-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  

  .btn-toolset {
    border-radius: 10px;
    font-size: 13px;
    padding: 2px 15px;
  }

  .btn-unread {
    background-color: darkgray;
    color: white;
    margin-right: 10px;
  }

  .btn-close {
    background-color: red;
    color: white;
    margin-right: 10px;
  }

  .btn-reply {
    background-color: $primary-color;
    color: rgb(255, 255, 255);
  }

  .btn-reopen {
    background-color: blue;
    color: white;
  }
}
