@import "@scss/common.scss";

.planters-detail-page {
  .btn-back {
    cursor: pointer;
    font-size: 30px;
    background-color: #fff;
    color: $black-color;
    border-radius: 50%;
    text-decoration: none;
  }

  .main-label {
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .sub-label {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
  }

  .content {
    display: block !important;
    width: 100%;
    background-color: $white-color;
    border-radius: 12px;
    padding: 12px 6rem 35px;
    margin-top: 20px;
    max-height: fit-content !important;
  }

  .content-tool {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-top: 10px;
    gap: 15px;

    .btn {
      &-edit {
        background-color: $primary-color;
        text-transform: none !important;
        border-radius: 10px;
      }

      &-delete {
        background-color: #FF0000;
        color: $white-color;
        text-transform: none !important;
        border-radius: 10px;
      }
    }
  }

  .product-title {
    margin-bottom: 35px;
  }

  .product-img {
    width: 250px !important;
    height: 250px !important;
  }

  .product-info {
    margin-top: 25px;

    &-label {
      font-weight: 500;
    }
  }

  .product-table {
    padding: 0;
  }

  .product-id {
    color: #9b9b9b;
    font-size: 13px;
  }
}
