@import "@scss/common.scss";

.common-navbar {
  background-color: $background-color;
  position: absolute;
  z-index: 5;
  width: 100%;
  
  .navbar {
    display: grid;
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    align-items: center;
    height: 100%;
    padding: 15px 2rem;
  }

  .prop {
    &-search {
      width: 100%;

      * {
        color: $semi-black-color;
      }

      .input-field-container {
        display: grid;
        grid-template-columns: 1fr 40px;
        color: $semi-black-color;
        position: relative;
      }

      .input-field {
        background-color: #fff;
        color: $semi-black-color;
        border: 0;
        padding: 5px 15px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        font-weight: 500;
        font-size: 17px;

        &:focus {
          outline: none;
        }
      }

      .btn-search {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        height: 100%;
        padding: 10px 15px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        cursor: pointer;
        position: relative;
        color: $semi-black-color;
      }
    }

    &-tools {
      display: flex;
      justify-content: center;
      padding: 0 1rem;
      gap: 10px;

      .btn-tool {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 12px;
        background-color: #fff;
        cursor: pointer;
        position: relative;
      }
    }

    &-notify {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: -5px;
      top: -5px;
      border: 2px solid $tertiary-color;
      background-color: $primary-color;
      color: $tertiary-color;
      font-size: 12px;
      padding: 0 5px;
      border-radius: 7px;
      min-width: 20px;
      font-weight: 600;
    }

    &-user {
      padding-left: 15px;
      border-left: 2px solid #0000001f;
      display: grid;
      align-content: center;
      grid-template-columns: 40px 1fr 30px;
      column-gap: 15px;
      color: $semi-black-color;
      .user {

        &-avatar {
          display: flex;
          align-items: center;
          justify-content: center;

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        &-meta {
          .user-name {
            font-weight: 600;
          }

          .user-role {
            font-weight: 500;
            font-size: 14px;
          }
        }

        &-btn-settings {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          border-radius: 12px;
          cursor: pointer;
          position: relative;

          .MuiSvgIcon-root {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            color: #000;
            &:hover {
              background-color: #0000000f;
            }
          }
        }
      }
    }
  }
}
