.calendar-event-card {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    box-sizing: border-box;

    .event-details {
      .MuiTypography-root {
        margin-bottom: 5px;
      }
    }

    .event {
      &-name {
        font-weight: bold;
        font-size: 19px;
      }
    }

    .event-actions {
      display: flex;
    
      button {
        padding: 5px;
      }

      .edit-button {
        color: #1976d2;
      }

      .delete-button {
        color: #d32f2f;
      }
    }
  }