@import "@scss/common.scss";

.calendar-view-day {
  width: 100%;

  .calendar-week-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0;
    color: #FFF;
    text-align: center;

    p {
      background-color: #838383;
      width: 100%;
      text-transform: uppercase;
      padding: 10px 0;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .calendar-days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .calendar-day {
    aspect-ratio: 1/1;
    border: 1px solid #00000022;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr;

    &:hover {
      cursor: pointer;
      background-color: #fafafa;
    }

    > p {
        padding: 5px 5px 0;
        box-sizing: border-box;
        font-weight: 500;
        text-align: right;
        user-select: none;
        font-size: 18px;
        color: #646464 !important;
    }

    .event-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
      gap: 4px;
    }

    .event-node {
      background-color: #8181817b;
      width: 100%;
      text-align: right;
      padding: 3px 5px;
      color: #4d4d4d;
      font-size: 14px;
      border-left: 5px solid #000000;
      font-weight: bold;
    }
  }

  .current-day {
    border: 4px solid $primary-color;
  }

  .prev-month {
    background-color: #e5e5e5;
    opacity: 0.4;
  }

  .next-month {
    background-color: #e5e5e5;
    opacity: 0.4;
  }
}
