@import "@scss/common.scss";

.calendar-view-day {
  width: 100%;

  .calendar-week-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0;
    color: #FFF;
    text-align: center;

    p {
      background-color: #838383;
      width: 100%;
      text-transform: uppercase;
      padding: 10px 0;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .calendar-days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .calendar-day {
    aspect-ratio: 1/1;
    border: 1px solid #00000022;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
      background-color: #fafafa;
    }

    > p {
        padding: 5px 5px 0;
        box-sizing: border-box;
        font-weight: 500;
        text-align: right;
        user-select: none;
        font-size: 18px;
        color: #646464 !important;
    }
  }

  .current-day {
    border: 4px solid $primary-color;
  }

  .prev-month {
    background-color: #e5e5e5;
    opacity: 0.4;
  }

  .next-month {
    background-color: #e5e5e5;
    opacity: 0.4;
  }
}
