.loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    position: relative;

    img {
        $size: 150px;
        width: $size;
        height: $size;
    }
}