@import "@scss/common.scss";

.news-edit-page {
  .btn-back {
    cursor: pointer;
    font-size: 30px;
    background-color: #fff;
    color: $black-color;
    border-radius: 50%;
    text-decoration: none;
  }

  .main-label {
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .title-label {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .content {
    display: block !important;
    background-color: #fff;
    padding: 40px 5rem;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: fit-content !important;
    
    .title-section {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-bottom: 20px;
    }

    #news-title {
      padding: 8px 10px;
      background-color: #f5f5f5 !important;
    }

    .tags-select {
      width: 150px;

      .MuiSelect-select {
        padding: 8px 10px;
      }
    }

    .title-input {
      flex-grow: 1;
    }

    .editor-label {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 25px;
    }

    .btn-use-template {
      margin-bottom: 10px;
      display: block;
      background-color: $tertiary-color;
      color: #fff;
      color: $black-color;
      padding: 3px 30px;
      border-radius: 7px;
    }

    .editor-section {
      margin-bottom: 20px;

      .content-editor {
        margin-top: 10px;
      }
    }

    .options-section {
      margin-bottom: 20px;
      padding: 0 10rem;
    }

    .action-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      .save-draft-btn {
        background-color: #f0f0f0;
        color: #333;
      }

      .publish-btn {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}
