@import "@scss/common.scss";

.seeds-budget {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;

  .node {
    min-height: 130px;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 0.4fr 0.6fr;

    &-label-container {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-grow: 1;
    }

    &-label {
        font-size: 18px;
        font-weight: 400;
    }

    &-value-container {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 23px;
      font-weight: 600;
      margin-top: 15px;
      color: $secondary-color;
      flex-grow: 3;
    }

    &-icon-increase {
      color: #058800;
      font-size: 40px;
    }

    &-icon-decrease {
      color: #ff0000;
      font-size: 40px;
    }
  }
}
