@import '@scss/common.scss';

.common-tabs {
    $height: 28px;
  
    height: $height;
    position: relative;
    background-color: #eaeaea;
    min-height: $height !important;
    border-radius: 15px;
  
    .MuiTabs-scroller {
      padding: 0;
      margin: 0;
      height: $height;
    }
  
    .MuiTabs-flexContainer {
      justify-content: space-between;
      display: flex;
      gap: 10px;
      height: $height;
      position: relative;
    }
  
    .MuiTab-root {
      min-width: auto;
      min-height: 0;
      font-size: 14px;
      padding: 4px 10px;
      color: #000000;
      text-transform: none;
      transition: color 0.3s ease;
      z-index: 1;
      position: relative;
    }
  
    .Mui-selected {
      color: #ffffff !important;
    }
  
    .MuiTabs-indicator {
      height: $height;
      border-radius: 20px;
      background-color: #4caf50;
      transition: all 0.4s ease;
      z-index: 0;
    }
  }