.common-text-area-basic {

    background-color: transparent;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    color: #000;
}