.common-text-editor {
  .ql-editor {
    min-height: 250px;
  }

  .character-count {
    text-align: right;
    padding: 5px;
    font-size: 14px;
    color: #666;

    &.limit-reached {
      color: red; // Turns red when the limit is reached
    }
  }

  .ql-snow {
    .ql-picker {
      &.ql-size {
        .ql-picker-label,
        .ql-picker-item {
          &::before {
            content: attr(data-value) !important;
          }
        }
      }
    }
  }
}
