@import "@scss/common.scss";

.tickets-detail-page {
  .btn-back {
    cursor: pointer;
    font-size: 30px;
    background-color: #fff;
    color: $black-color;
    border-radius: 50%;
    text-decoration: none;
  }

  .main-label {
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .content {
    display: block !important;
    background-color: #fff;
    padding: 40px 5rem;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: fit-content !important;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-detail {
      display: flex;
      align-items: center;
      gap: 15px;

      .circle-icon {
        background-color: #b4b4b4;
        $size: 28px;
        width: $size;
        height: $size;
        border-radius: 50%;
      }

      .label {
        font-weight: 600;
        font-size: 22px;
      }

      .submitted-at {
        font-size: 16px;
      }
    }

    .title-author {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .title-author-avatar {
      $size: 30px;

      width: $size;
      height: $size;
    }

    .title-author-username {
      font-weight: 500;
    }
  }

  .ticket-content {
    margin-top: 20px;

    .content-title {
      font-weight: 600;
      font-size: 21px;
    }

    .content-description {
      margin-top: 10px;
      font-weight: 400;
    }
  }

  .ticket-replies {
    .reply-node {
      background-color: $tertiary-color;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
    }

    .title {
      font-weight: 500;
      font-size: 19px;
      margin-bottom: 15px;
    }

    .reply-author {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }

    .reply-author-avatar {
      $size: 30px;

      width: $size;
      height: $size;
    }

    .reply-author-username {
      font-weight: 500;
    }
  }

  .ticket-reply-section {
    margin-top: 40px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 35px 20px;
    border-radius: 20px;

    .title {
      font-weight: 600;
      font-size: 21px;
      margin-bottom: 16px;
    }

    .status-item-container {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .status-item-circle {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #ddd;
    }

    .input-label-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .input-label {
      margin-bottom: 12px;
      font-weight: 500;
    }

    .btn-template {
      font-weight: 500;
      color: #000;
      text-align: center;
      padding: 1px 20px;
      margin-bottom: 12px;
      border-radius: 10px;
      background-color: #d7d7d7;
      font-size: 13px;
    }

    .ticket-reply-form {
      display: flex;
      gap: 8px;
      align-items: center;

      &-email {
        .MuiInputBase-root {
          border-radius: 15px !important;
        }

        .MuiInputBase-input {
          padding: 3px 15px;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 15px;
    }

    .btn-submit {
      background-color: $primary-color;
      color: #fff;
      padding: 8px 25px;
    }
  }
}

.ticket-reply-form-status-item {
  .status-item-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .status-item-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ddd;
  }
}
