@import '@scss/common.scss';

.calendar-view-year {

    position: relative;

    .year-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin-top: 25px;
        width: 100%;
    }

    .calendar-year-tile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        min-height: 80px;
        cursor: pointer;

        &:hover {
            background-color: $primary-color;
            color: #FFF;
        }
    }

    .year-navigation {
        display: flex;
        align-items: center;
        width: 100% !important;
        gap: 30px;
    }

    .highlighted {
        border: 5px solid $primary-color;
    }

    .btn-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        background-color: #fff;
        color: #000;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}