@import "@scss/common.scss";

.plants-delete-dialog {

    .dialog-content {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 3rem;
    }

    .dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
    }

    .btn-cancel {
        background-color: #808080;
        color: #FFF;
    }

    .btn-delete {
        background-color: #ff0000;
        color: #FFF;

        &:disabled {
            background-color: #b3b3b3;
            color: #FFF;
        }
    }
}
