@import '@scss/common.scss';

.dashboard-maps-customers {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  min-height: 330px;

  .controls {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;

    &-container {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 20px;
    }

    &-label {
      font-size: 16px;
      font-weight: 600;
    }

    &-subtitle {
      font-size: 12px;
      color: #aaa;
    }

    .btn-more {
      cursor: pointer;
    }
  }

  .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

    .stat-item {
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;

      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      &-new-customers {
        background-color: rgba(255, 99, 132, 1);
      }

      &-returning-customers {
        background-color: rgba(153, 102, 255, 1);
      }

      &-number {
        font-size: 20px;
      }

      &-label {
        font-size: 13px;
        color: #646464;
        font-weight: 400;
      }

    }
  }
}
