.dashboard-maps-pie-chart {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;

  .controls {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;

    &-container {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &-label {
      font-size: 16px;
      font-weight: 600;
    }

    .btn-more {
      cursor: pointer;
    }
  }

  .chart-container {
    display: flex;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    justify-content: space-evenly;
  }

  .chart {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
    max-width: 190px;
  }

  .chart-pie {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chart-percentage {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    user-select: none;
  }

  .chart-label {
    margin-top: 20px;
  }
}
